
a:hover{
    color: white;
}

a {
	color:#8B0000;
}

p {
	color:#FFF8DC;
}
	
h1, h2, h3, p, a{
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-weight: 600;
	font-size: 28px;
	color: #FFF8DC;
	text-transform: uppercase;
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 20px;
}

h3 {
	font-size: 44px;
	font-weight: 600;
	color: #8B0000;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 20px;
}

h2 {
	font-size: 44px;
	font-weight: 600;
	color: #FFF8DC;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 20px;
}
	

header .intro-text {
	padding-top: 100px;
	padding-bottom: 50px;
	text-align: center;
	color: green;
}

body, html {
	font-family: 'Open Sans', serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    /* justify-content: flex-end; */
    align-items: center;
    padding: 10px 10%;
}

.wrapper img{
    border-radius: 100%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.button {
    width: 130px;
    height: 40px;
    color: #fff;
    padding: 10px 25px;
    font-family: 'Rochester', cursive;
    font-weight: 1000;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
  }

.b1 {
    background: #F0FFFF;
    border: none;
    z-index: 1;
}
.b1:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(0,0,0,.1);
    transition: all 0.3s ease;
}
.b1:hover {
    color: black;
}
.b1:hover:after {
    left: 0;
    width: 100%;
}
.b1:active {
    top: 2px;
}

.b2 {
    background: #F0FFFF;
    border: none;
    z-index: 1;
}
.b2:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(0,0,0,.1);
    transition: all 0.3s ease;
}
.b2:hover {
    color: black;
}
.b2:hover:after {
    left: 0;
    width: 100%;
}
.b2:active {
    top: 2px;
}

.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url(Kopi.jpg) center center no-repeat;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.intro .overlay {
	background: rgba(0,0,0,0.4);
}
.intro h1 {
	font-family: 'Rochester', cursive;
	color: #fff;
	font-size: 10em;
	font-weight: 400;
	margin-top: 0;
}
.intro span {
	color: #a7c44c;
	font-weight: 600;
}
.intro p {
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	margin-top: 150px;
}

.column {
  float: left;
  display: grid;
}

footer {
	margin-top: 10px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	margin-top: 10px;
}

.contact {
	margin-top: 150px;
	position: relative;
	background: #DC143C;
	padding: 100px 0;
}

label {
	color: #8B0000;
	font-family: 'Raleway', sans-serif;
}

td, th {
	color: #8B0000;
	font-family: 'Raleway', sans-serif;
}

#order {
	padding: 10px 0;
}

#about {
	padding: 10px 0;
}